alabaster==0.7.12
alembic==1.4.2
ananke-causal==0.1.5
autograd==1.3
Babel==2.8.0
backcall==0.2.0
bnlearn==0.3.7
causal-da @ git+https://github.com/takeshi-teshima/few-shot-domain-adaptation-by-causal-mechanism-transfer@2878ced51cfe473aad8fbc1886e2b65dfc9fc060
# Editable install with no version control (causal-data-augmentation==1.0.0)
-e /home/teshima/causal-data-augmentation-env/causal-data-augmentation
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
community==1.0.0b1
cycler==0.10.0
databricks-cli==0.11.0
decorator==4.4.2
df2onehot==0.2.14
dill==0.3.1.1
docker==4.3.1
docopt==0.6.2
docstr-coverage @ git+https://github.com/HunterMcGushion/docstr_coverage.git@53d4ef2f4e573e0b7a4d94dbc079d003f23cd3ab
docutils==0.16
entrypoints==0.3
Flask==1.1.2
funcsigs==1.0.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.7
gorilla==0.3.0
graphviz==0.14.1
gunicorn==20.0.4
hydra-core==0.11.3
idna==2.8
imagesize==1.2.0
importlib-metadata==1.7.0
ipython==6.5.0
ipython-genutils==0.2.0
ismember==0.1.3
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonpickle==1.4.1
kiwisolver==1.2.0
lingam==1.5.0
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mlflow==1.2.0
munch==2.5.0
mypy==0.782
mypy-extensions==0.4.3
networkx==2.5
notelate==0.0.5
numpy==1.19.1
omegaconf==1.4.1
packaging==20.4
pandas==1.0.1
pandas-ply==0.2.1
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pgmpy==0.1.11
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==1.0.18
protobuf==3.13.0
ptyprocess==0.6.0
pudb==2019.2
py-cpuinfo==7.0.0
Pygments==2.6.1
pymongo==3.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyYAML==5.3.1
querystring-parser==1.2.4
requests==2.22.0
sacred==0.8.1
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
simplegeneric==0.8.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smmap==3.0.4
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-autodoc-typehints==1.11.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
sqlparse==0.3.1
statsmodels==0.11.1
tabulate==0.8.7
threadpoolctl==2.1.0
torch==1.6.0
tqdm==4.48.2
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
urwid==2.1.1
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
wget==3.2
wrapt==1.12.1
xgboost==1.2.1
zipp==3.1.0
